@font-face {
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/montserrat-bold.ttf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/proxima-nova-regular.otf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/proxima-nova-bold.otf);
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/myriadpro-regular.otf);
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/myriadpro-bold.otf);
}

/* ------------------------COMMON---------------------------- */
body {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 400;
	background-color: #141414;
	color: #fff;
	width: 100%;
}

.page-wrapper {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.content-wrapper {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 1280px;
	border: 0 transparent solid;
	border-left-width: 14px;
	border-right-width: 14px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: #fefefe;
	font-size: 50px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	text-transform: uppercase;
	color: #141414;
	display: block;
	margin: 0;
}

h3 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 1;
	color: #141414;
	display: block;
	text-transform: uppercase;
	margin: 0;
}

.page-footer h3 {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 43px;
	color: #fefefe;
	margin-bottom: 30px;
}

.page-footer a {
	text-decoration: none;
	display: block;
}

.page-footer .legal a {
	margin: 21px 0;
	text-transform: uppercase;
	line-height: 30px;
	color: #646464;
}

.page-content .info-block.border h3 {
	text-align: center;
	font-size: 22px;
}

h4 {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #141414;
	display: block;
	margin: 0;
}

.btn {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	height: 60px;
	width: 150px;
	white-space: nowrap;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #141414;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #ffcd00;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	margin: 0 15px;
	padding: 0;
}

.btn.large {
	width: 300px;
}

.btn.inverted {
	border: 2px solid #fbd951;
	background: none;
}

button:active {
	transform: translate(1px, 3px);
}

article .btns {
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	font-size: 0;
}

.page-header .btns {
	display: none;
}

.page-content .info-block img {
	margin-top: 50px;
	padding: 0;
	margin-left: -40px;
}

/* --------------------PAGE-HEADER------------------------ */

.page-header {
	position: relative;
	box-sizing: border-box;
	padding-top: 60px;
	padding-bottom: 132px;
}

.page-header .header-content {
	font-size: 0;
}

.page-header .content-wrapper {
	text-align: left;
}

.page-header .hamburger {
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	width: 50px;
	height: 44px;
	margin: 5px 50px 0 10px;
}

.page-header .hamburger::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 8px;
	margin: 0 auto;
	background: none;
	box-shadow: inset 0 0 0 10px #ffcd00, 0 18px 0 0 #ffcd00, 0 36px 0 0 #ffcd00;
}

.page-header .hamburger:active {
	transform: scale(0.8);
}

.page-header .logo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: auto;
	height: 53px;
}

.page-header .logo img {
	display: block;
	width: 140px;
}

.page-header .items {
	display: inline-block;
	vertical-align: top;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: left;
	list-style: none;
	padding: 0;
	font-size: 0;
}

.page-header .item {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	height: 60px;
	min-width: 100px;
	font-size: 14px;
	text-align: center;
}

.page-header .item a {
	color: #fff;
	text-decoration: none;
}

.page-header .item a:hover {
	border: 2px solid #ffcd00;
}

.page-header .trees {
	display: block;
}

.page-header .tree {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	padding-left: 20px;
}

.page-header .item.welcome .color-text {
	color: #ffcd00;
}

.page-header h1 {
	text-align: left;
	margin-bottom: 40px;
	margin-top: 100px;
}

.page-header p,
.page-header .colortext {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #979797;
	line-height: 22px;
	margin: 0;
}

.page-header p {
	text-align: left;
	margin-bottom: 75px;
}

.page-header .colortext {
	color: #ffcd00;
}

.page-header .btn-header {
	margin-bottom: 60px;
	outline: none;
	border: 0;
	border-radius: 6px;
	padding: 0;
	font-size: 20px;
	color: #141414;
	width: 100%;
	max-width: 300px;
	height: 71px;
	background: linear-gradient(to bottom, #ffca00, #b18f07);
	cursor: pointer;
}

.page-header .btn-header .btntext,
.page-header .btn-header .btntextopt {
	text-transform: uppercase;
	font-family: 'Proxima Nova';
	font-size: 16px;
	font-weight: 700;
}

.page-header .btn-header .btntextopt {
	text-transform: none;
	font-size: 14px;
	color: #907400;
}

.page-header .intro-video {
	position: relative;
	background: url(../images/bg-header-mobile.png) no-repeat center center;
	background-size: cover;
	height: 320px;
	width: 100%;
}

.page-header .video-control {
	display: none;
	position: absolute;
	width: 100%;
	height: 105px;
	bottom: 25px;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	font-size: 14px;
}

.page-header .intro-video .video-control {
	display: block;
	position: absolute;
	width: 100%;
	height: 105px;
	bottom: 25px;
	left: auto;
}

.page-header .icon {
	position: absolute;
	bottom: 0;
	left: 35px;
	padding: 0;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
}

.page-header .icon img {
	display: block;
	height: 49px;
	width: 49px;
	margin-bottom: 9px;
}

.page-header .icon .btn-text {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #ffcd00;
	font-size: 7px;
	text-transform: uppercase;
}

.page-header .icon:active {
	transform: translate(1px, 3px);
}

.page-header .text-info {
	position: absolute;
	right: 24px;
	bottom: 41px;
	font-size: 20px;
	line-height: 1;
	max-width: 170px;
	color: #ffcd00;
}

.page-header .author {
	position: absolute;
	right: 24px;
	bottom: 20px;
	max-width: 170px;
	color: #fff;
}

.page-header .position {
	position: absolute;
	right: 24px;
	bottom: 0;
	max-width: 170px;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #fff;
}

/* ---------------------PAGE-CONTENT---------------------- */

.page-content {
	position: relative;
	background-color: #fff;
}

.container {
	display: inline-block;
	width: 100%;
}

.info-block,
.info-block.border {
	position: relative;
	top: -55px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	max-width: 370px;
	height: 580px;
	margin-bottom: 30px;
	background-color: #f2f2f2;
	font-size: 16px;
	line-height: 22px;
	color: #979797;
	overflow: hidden;
	padding: 35px 40px 0;
	margin-left: auto;
	margin-right: auto;
}

.info-block h2::before {
	content: '';
	position: absolute;
	top: 37px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 24px solid #ffc733;
	border-bottom: 18px solid transparent;
}

.info-block h2 {
	text-align: left;
	line-height: 1.5;
}

.info-block.border {
	width: 370px;
	height: 580px;
	border: 4px solid #ffcd00;
	border-radius: 1px;
	box-shadow: 0 0 20px #fbd951;
	background-color: #fff;
	padding: 35px 35px 0;
}

.info-block.border img {
	margin-left: 0;
}

.info-block .items {
	color: #2d2d2d;
	font-size: 14px;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: left;
	list-style: none;
	margin: 45px 0 0;
	padding: 0;
}

.info-block.border .item {
	background: url(../images/icon-list.png) no-repeat 0 5px;
	padding-left: 20px;
}

.info-block .text-info {
	text-align: left;
	padding-top: 20px;
}

.btn[data-icon]::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-right: 7px;
	background: no-repeat 0 0;
}

/* ---------------------FIRST BLOCK------------------- */

.btn[data-icon='user']::before {
	background-image: url(../images/icon-login.png);
}

.btn[data-icon='download']::before {
	background: url(../images/icon-download.png) no-repeat 0 0;
}

/* ---------------------SECOND BLOCK------------------- */

.btn[data-icon='apple']::before {
	background: url(../images/icon-appstore.png) no-repeat 0 0;
}

.btn[data-icon='google']::before {
	background: url(../images/icon-google-play.png) no-repeat 0 0;
}

/* ---------------------THIRD BLOCK------------------- */

.btn-large[data-icon='user']::before {
	background: url(../images/icon-login.png) no-repeat 0 0;
}

/* ---------------------FOURTH BLOCK------------------- */

.btn[data-icon='upgrade']::before {
	background: url(../images/icon-login.png) no-repeat 0 0;
}

/* ---------------------SIXTH BLOCK------------------- */

.btn[data-icon='connect']::before {
	background: url(../images/icon-connect.png) no-repeat 0 0;
}

/* ----------------------SECTION-ABOUT------------------ */
.about {
	background: url(../images/bg-about.png) no-repeat center center;
	background-size: cover;
}

.about .content-wrapper {
	padding: 0 10px;
}

.about h2 {
	color: #fff;
	font-size: 47px;
	line-height: 1;
	text-align: left;
	padding-top: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.about h2::after {
	content: '';
	position: absolute;
	left: 235px;
	top: 42px;
	width: 31px;
	height: 31px;
	background: url(../images/icon-stats.png) no-repeat 0 0;
}

.about .items {
	font-family: 'Proxima Nova';
	font-weight: 700;
	color: #fff;
	padding-left: 0;
	font-size: 20px;
	line-height: 44px;
	margin: 50px 0 0;
	padding-bottom: 170px;
	text-align: left;
}

.about .items .item {
	list-style: none;
	background: url(../images/icon-list.png) no-repeat 0 47%;
	padding-left: 30px;
}

.about .item .colortext {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 30px;
	line-height: 23px;
	color: #ffcd00;
	text-transform: uppercase;
}

.about .btns {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 20px;
	font-size: 0;
}

.about .btns .btn {
	width: 180px;
}

/* -----------------------SECTION-GUIDE------------------- */

.guide {
	background: url(../images/bg-guide.png) no-repeat 45px 44px;
	background-size: 420px 280px;
	background-color: #fff;
	border-bottom: 10px solid #ffcd00;
}

.guide .content-wrapper {
	padding: 0 10px;
	text-align: left;
}

.guide h2 {
	padding-top: 100px;
	font-size: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.guide h2::after {
	content: '';
	position: absolute;
	left: 175px;
	top: 70px;
	width: 31px;
	height: 31px;
	background: url(../images/icon-book.png) no-repeat 0 0;
}

.guide .text {
	font-size: 20px;
	line-height: 22px;
	color: #141414;
	margin-top: 170px;
}

.guide p {
	font-size: 16px;
	line-height: 22px;
	color: #979797;
	margin: 35px 0 0;
	padding-bottom: 300px;
}

.guide .btns {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.guide .btns .btn-left,
.guide .btns .btn-right {
	margin: 0;
	display: inline-block;
}

.guide .btns .description {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	color: #979797;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 27px;
}

.guide .btns .btn {
	width: 370px;
	margin: 0;
}

/* -----------------------SECTION-FEEDBACK------------------- */

.feedback {
	background: #f8f8f8;
	box-sizing: border-box;
	padding-bottom: 20px;
}

.feedback .content-wrapper {
	padding: 0 10px;
	text-align: left;
}

.feedback h2 {
	padding-top: 80px;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feedback h2::after {
	content: '';
	position: absolute;
	left: 272px;
	top: 52px;
	width: 31px;
	height: 31px;
	background: url(../images/icon-talk.png) no-repeat 0 0;
}

.feedback .container {
	display: inline-block;
	width: 100%;
}

.feedback .slide {
	text-align: left;
	margin: 0 auto;
	max-width: 370px;
}

.feedback .container:nth-child(2) .slide,
.feedback .container:nth-child(3) .slide {
	display: none;
}

.feedback .intro-videos {
	position: relative;
	font-size: 0;
	text-align: center;
}

.feedback .intro-video {
	position: relative;
	height: 290px;
	width: 100%;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}

.feedback .intro-video img {
	display: block;
	width: 100%;
	height: 100%;
}

.feedback .intro-video .icon {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
}

.feedback .intro-videos .author {
	font-size: 14px;
	font-weight: 700;
	color: #141414;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.feedback .intro-videos .position {
	font-size: 16px;
	line-height: 20px;
	color: #979797;
	margin-bottom: 60px;
}

.feedback .intro-videos .position a {
	text-decoration: none;
	font-weight: 700;
	color: #141414;
}

.feedback .pagination {
	position: relative;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background-color: #898989;
	border-radius: 6px;
	cursor: pointer;
}

.feedback .pagination::before {
	content: '';
	position: absolute;
	right: 21px;
	top: auto;
	width: 12px;
	height: 12px;
	background-color: #ffcd00;
	border-radius: 6px;
}

.feedback .pagination::after {
	content: '';
	position: absolute;
	left: 21px;
	top: auto;
	width: 12px;
	height: 12px;
	background-color: #898989;
	border-radius: 6px;
}

/* -----------------------SECTION-BENEFITS------------------- */

.benefits {
	background: #fff;
	width: 100%;
	height: auto;
	font-size: 0;
}

.benefits .content-wrapper {
	text-align: left;
}

.benefit {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 196px;
	height: auto;
	font-size: 16px;
	color: #979797;
	line-height: 20px;
	text-align: center;
	padding: 0 10px;
}

.benefit .logo {
	width: 100%;
	height: 196px;
}

.benefit .logo img {
	width: 53px;
	height: 53px;
	margin-top: 63px;
}

.benefit .text {
	padding: 30px 0 15px;
}

/* -----------------------SECTION-BUSINESS------------------- */

.business {
	position: relative;
	background-color: #f8f8f8;
	color: #979797;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 10px solid #ffcd00;
}

.business .content-wrapper {
	text-align: left;
	padding: 0 10px;
}

.business .btns {
	padding: 28px 0 0 24px;
	text-align: right;
}

.business .btns .btn {
	position: relative;
	margin: 0;
	width: 100%;
	text-align: left;
	padding-left: 40px;
}

.business .btns .btn::after {
	content: '';
	position: absolute;
	top: 27px;
	right: 46px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
}

.business h2 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	padding: 42px 0 0;
	font-size: 36px;
	line-height: 43px;
}

.business .items {
	margin: 36px 0 0;
	padding: 0;
	max-width: 383px;
}

.business .items .item {
	list-style: none;
	background: url(../images/icon-list.png) no-repeat 0 24px;
	padding: 20px 30px;
}

/* -----------------------SECTION-PLATFORMS------------------- */

.platforms {
	background-color: #fff;
	color: #979797;
	font-size: 14px;
	line-height: 30px;
}

.platforms .content-wrapper {
	padding: 0 30px;
	text-align: left;
}

.platforms h2 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	padding: 48px 0 0;
	font-size: 36px;
	line-height: 43px;
}

.platforms .items {
	box-sizing: border-box;
	margin: 36px 0 0;
	padding: 20px 0;
	list-style: none;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 0;
	text-transform: uppercase;
	line-height: 30px;
}

.platforms .items .item {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin: 0 0 60px;
	padding: 10px 0 0 72px;
	min-height: 50px;
	background: no-repeat 0 0;
	box-sizing: border-box;
	min-width: 300px;
}

.platforms .item.web {
	background-image: url(../images/icon-platforms-1.png);
}

.platforms .item.windows {
	background-image: url(../images/icon-platforms-2.png);
}

.platforms .item.ios {
	background-image: url(../images/icon-platforms-3.png);
}

.platforms .item.android {
	background-image: url(../images/icon-platforms-4.png);
}

.platforms .item.cuboid {
	background-image: url(../images/icon-platforms-1.png);
}

.platforms .item.mac {
	background-image: url(../images/icon-platforms-5.png);
}

.page-footer {
	background-color: #141414;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #646464;
	font-size: 14px;
	line-height: 22px;
	padding-top: 40px;
	padding-bottom: 105px;
}

.page-footer .content-wrapper {
	text-align: left;
	padding: 0 10px;
}

.page-footer .legal {
	padding-bottom: 35px;
}

.page-footer .about-us {
	padding-bottom: 35px;
}

.page-footer .about-us p {
	max-width: 360px;
	margin: 35px 0;
}

.page-footer .contacts {
	padding-bottom: 84px;
}

.page-footer .contacts .email {
	color: #fff;
}

.page-footer .contacts .phone {
	font-weight: 700;
	line-height: 43px;
	color: #ffc733;
}

.page-footer .fca {
	padding-bottom: 64px;
}

.page-footer .pay {
	font-size: 0;
	padding-bottom: 64px;
}

.page-footer .pay .icon {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	background: no-repeat 0 0;
}

.page-footer .pay .icon.mastercard {
	background-image: url(../images/icon-footer-mastercard.png);
	width: 150px;
	height: 40px;
}

.page-footer .pay .icon.visa {
	background-image: url(../images/icon-footer-visa.png);
	width: 70px;
	height: 40px;
}

.page-footer .pay .icon.skrill {
	background-image: url(../images/icon-footer-skrill.png);
	width: 70px;
	height: 40px;
}

.page-footer .pay .icon.bank-transfer {
	background-image: url(../images/icon-footer-bank.png);
	width: 95px;
	height: 40px;
}

.page-footer .pay .icon.union-pay {
	background-image: url(../images/icon-footer-unionpay.png);
	width: 63px;
	height: 40px;
}

.page-footer .pay .icon.neteller {
	background-image: url(../images/icon-footer-neteller.png);
	width: 103px;
	height: 40px;
}

.page-footer .disclaimer {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}

.page-footer .copyright {
	color: #3d3d3d;
}

@media (min-width: 793px) {
	.content-wrapper {
		border-left-width: 0;
		border-right-width: 0;
	}

	.page-header {
		min-height: 900px;
		background: url(../images/bg-header-tablet.png) no-repeat 0 0;
		background-size: cover;
	}

	.page-header .hamburger {
		margin-left: 15px;
	}

	.page-header h1 {
		font-size: 70px;
		margin-left: 14px;
		margin-bottom: 75px;
	}

	.page-header p {
		max-width: 50%;
		margin-left: 14px;
		padding: 0;
	}

	.page-header .btn-header {
		margin-left: 14px;
	}

	.page-header .intro-video {
		display: none;
	}

	.page-header .video-control {
		display: block;
		width: 300px;
		right: 0;
		bottom: 250px;
	}

	.page-header .video-control .icon {
		left: 10px;
	}

	.page-header .video-control .icon img {
		margin-left: auto;
		margin-right: auto;
	}

	.page-header .video-control .btn-text {
		font-size: 10px;
	}

	.page-header .btn-page-header {
		bottom: 200px;
		left: 0;
	}

	.page-header .btns {
		display: block;
		position: absolute;
		top: 0;
		right: 58px;
	}

	.page-header .btn.inverted {
		color: #fefefe;
	}

	.page-header .btn {
		width: 160px;
		background: none;
		color: #ffcd00;
	}

	.guide .btns .btn {
		max-width: 270px;
	}

	.page-header .btns .btn:last-child:active {
		border: 3px solid rgba(255, 205, 0, 0.5);
	}

	.page-content .content-wrapper {
		font-size: 0;
	}

	.page-content .container {
		width: 50%;
	}

	.info-block.border,
	.info-block {
		top: -24px;
	}

	.guide {
		background: url(../images/bg-guide-tablet.png) no-repeat center top;
		background-size: contain;
		background-color: #fff;
	}

	.guide .text {
		margin-top: 420px;
	}

	.guide .btns .btn-left,
	.guide .btns .btn-right {
		margin: 0 15px;
	}

	.feedback .container {
		width: 50%;
	}

	.feedback .container:nth-child(2) .slide {
		display: inline-block;
	}

	.benefit {
		width: 33%;
	}

	.benefits .content-wrapper {
		text-align: center;
	}

	.business::before {
		background: url(../images/bg-business.png);
		content: '';
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@media (min-width: 1167px) {
	.page-header {
		height: 900px;
		background: url(../images/bg-header-desktop.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	.page-header .hamburger {
		display: none;
	}

	.page-header .logo {
		margin-left: 58px;
	}

	.page-header .btns {
		display: none;
	}

	.page-header .video-control {
		display: none;
	}

	.page-content .container {
		width: 33%;
	}

	.info-block.border,
	.container:nth-child(5) .info-block {
		top: -55px;
	}

	.feedback .container {
		width: 33%;
	}

	.feedback .container:nth-child(3) .slide {
		display: inline-block;
	}

	.benefit {
		width: 20%;
	}

	.business::before {
		background: url(../images/bg-business-2.png);
	}
}
