@font-face {
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/montserrat-bold.ttf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/proxima-nova-regular.otf);
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/proxima-nova-bold.otf);
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/myriadpro-regular.otf);
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/myriadpro-bold.otf);
}

/* ------------------------COMMON---------------------------- */
body {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 400;
	background-color: #141414;
	color: #fff;
	width: 100%;
}

.page-wrapper {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.content-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 60px 9px 0;
	display: block;
	max-width: 1280px;
	border: 0 transparent solid;
	border-left-width: 15px;
	border-right-width: 15px;
	margin: auto;
	text-align: center;
}

h1 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: #fefefe;
	font-size: 50px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	text-transform: uppercase;
	color: #141414;
	display: block;
	margin: 0;
}

h3 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 1;
	color: #141414;
	display: block;
	text-transform: uppercase;
	margin: 0;
}

.btn {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	height: 60px;
	width: 150px;
	white-space: nowrap;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #141414;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 1px;
	background-color: #ffcd00;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.btn.large {
	width: 300px;
}

.btn.inverted {
	border: 2px solid #fbd951;
	background: none;
}

button:active {
	transform: translate(1px, 3px);
}

section {
	position: relative;
	width: 100%;
	height: auto;
}

.header .btns {
	display: none;
}

.connect article .btns {
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	font-size: 0;
}

.connect article:nth-child(1) .btn:nth-child(1),
.connect article:nth-child(2) .btn:nth-child(1),
.connect article:nth-child(5) .btn:nth-child(1),
.connect article:nth-child(6) .btn:nth-child(1) {
	margin-right: 30px;
}

.connect .info-block img {
	margin-top: 50px;
	padding: 0;
	margin-left: -40px;
}

/* --------------------HEADER------------------------ */

.header {
	position: relative;
	box-sizing: border-box;
}

.header .head {
	text-align: left;
	font-size: 0;
}

.header .hamburger {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width: 50px;
	height: 44px;
	margin-right: 50px;
}

.header .hamburger:active {
	transform: scale(0.8);
}

.header .hamburger span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #ffcd00;
}

.header .hamburger span::before {
	content: '';
	position: absolute;
	background-color: #ffcd00;
	height: 8px;
	top: -14px;
	left: 0;
	width: 100%;
}

.header .hamburger span::after {
	content: '';
	position: absolute;
	background-color: #ffcd00;
	height: 8px;
	top: 14px;
	left: 0;
	width: 100%;
}

.header .logo {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 24px;
}

.header .logo img {
	display: block;
	width: 140px;
}

.header h1 {
	padding-top: 100px;
	text-align: left;
	width: 420px;
}

header p {
	padding-top: 25px;
	text-align: left;
	padding-bottom: 200px;
	width: 390px;
}

.header p,
.header .colortext {
	font-family: 'Myriad Pro';
	font-weight: 400;
	font-size: 16px;
	color: #979797;
	line-height: 22px;
	margin: 0;
}

.header .colortext {
	color: #ffcd00;
}

.header .btn-header {
	position: absolute;
	bottom: 60px;
	left: 24px;
	outline: none;
	border: 0;
	border-radius: 6px;
	font-size: 20px;
	color: #141414;
	width: 300px;
	height: 71px;
	background: linear-gradient(to bottom, #ffca00, #b18f07);
	cursor: pointer;
}

.header .btn-header .btntext {
	display: block;
	text-transform: uppercase;
	font-family: 'Proxima Nova';
	font-size: 16px;
	font-weight: 700;
}

.header .btn-header .btntextopt {
	display: block;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #907400;
}

.header .intro-video {
	position: relative;
	background: url(../images/header-photo-bg.png) no-repeat;
	box-shadow: inset 320px 0 150px 70px rgba(0, 0, 0, 0.7);
	min-width: 420px;
	max-width: 792px;
	height: 320px;
	background-size: 100% 100%;
	margin-bottom: 133px;
}

.header .intro-video .bg-image {
	width: 100%;
	position: relative;
}

.header .intro-video .icon {
	position: absolute;
	bottom: 25px;
	left: 35px;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
}

.header .intro-video .icon img {
	display: block;
	height: 49px;
	margin-bottom: 9px;
}

.header .intro-video .icon .btn-text {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #ffcd00;
	font-size: 7px;
	text-transform: uppercase;
}

.header .intro-video .icon:active {
	transform: translate(1px, 1px);
}

.header .intro-video .text-info {
	position: absolute;
	right: 25px;
	bottom: 65px;
	height: auto;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: rgb(255, 205, 0);
	text-align: right;
}

.header .intro-video .author {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	right: 25px;
	bottom: 35px;
	height: auto;
	color: #fff;
	text-align: right;
}

.header .intro-video .position {
	position: absolute;
	right: 25px;
	bottom: 17px;
	height: auto;
	font-family: 'Myriad Pro';
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-align: right;
}

/* ---------------------MIDDLE---------------------- */

.connect {
	position: relative;
	background-color: #fff;
}

.connect .content-wrapper {
	padding-top: 0;
}

.connect .info-block,
.connect .info-block.border {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 370px;
	height: 580px;
	margin-bottom: 30px;
	background-color: #f2f2f2;
	font-size: 16px;
	line-height: 22px;
	color: #979797;
	overflow: hidden;
	padding: 35px 40px 0;
}

.connect h2::before {
	content: '';
	position: absolute;
	top: 37px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 24px solid #ffc733;
	border-bottom: 18px solid transparent;
}

.connect h2 {
	text-align: left;
	padding-top: 7px;
}

.connect .info-block.border {
	border: 4px solid #ffcd00;
	border-radius: 1px;
	box-shadow: 0 0 20px #fbd951;
	background-color: #fff;
}

.connect .info-block.border img {
	margin-left: 0;
}

.connect .info-block .items {
	color: #2d2d2d;
	font-size: 14px;
	font-family: 'Myriad Pro';
	font-weight: 400;
	text-align: left;
	list-style: none;
	padding: 0;
}

.connect .info-block.border .item {
	background: url(../images/icon-list.png) no-repeat 0 5px;
	padding-left: 20px;
}

.connect .info-block .text-info {
	text-align: left;
	padding-top: 20px;
}

.connect .btn[data-icon]::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	margin-right: 7px;
}

/* ---------------------FIRST BLOCK------------------- */

.btn[data-icon='user']::before {
	background: url(../images/icon-login.png) no-repeat 0 0;
}

.btn[data-icon='download']::before {
	background: url(../images/icon-download.png) no-repeat 0 0;
}

.connect .info-block:nth-child(1) {
	margin-top: -24px;
}

/* ---------------------SECOND BLOCK------------------- */

.connect .info-block.border h3 {
	text-align: center;
	font-size: 22px;
}

.btn[data-icon='apple']::before {
	background: url(../images/icon-appstore.png) no-repeat 0 0;
}

.btn[data-icon='google']::before {
	background: url(../images/icon-google-play.png) no-repeat 0 0;
}

/* ---------------------THIRD BLOCK------------------- */

.btn-large[data-icon='user']::before {
	background: url(../images/icon-login.png) no-repeat 0 0;
}

/* ---------------------FOURTH BLOCK------------------- */

.btn[data-icon='upgrade']::before {
	background: url(../images/icon-login.png) no-repeat 0 0;
}

/* ---------------------SIXTH BLOCK------------------- */

.btn[data-icon='connect']::before {
	background: url(../images/icon-connect.png) no-repeat 0 0;
}

.about {
	background: url(../images/bg-about.png) no-repeat -400px 0;
}

.about .data-wrapper {
	box-sizing: border-box;
	padding: 75px 25px 0;
}

.about h2 {
	color: #fff;
	font-size: 47px;
	line-height: 1;
	text-align: left;
}

.about h2::after {
	content: '';
	position: absolute;
	left: 235px;
	top: 42px;
	width: 26px;
	height: 26px;
	background: url(../images/icon-stats.png) no-repeat 0 0;
}

.about .items {
	font-family: 'Proxima Nova';
	font-weight: 700;
	color: #fff;
	padding-left: 20px;
	font-size: 20px;
	line-height: 44px;
	margin: 50px 0 0;
	padding-bottom: 170px;
}

.about .item .colortext {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 30px;
	line-height: 23px;
	color: #ffcd00;
	text-transform: uppercase;
}

.about .item:nth-child(1) .colortext {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 30px;
	line-height: 23px;
	color: #ffcd00;
	text-transform: uppercase;
}

.guide {
	background: url(../images/bg-guide.png) no-repeat 45px 44px;
	background-size: 420px 280px;
	background-color: #fff;
	border-bottom: 10px solid #ffcd00;
}

.guide .data-wrapper {
	box-sizing: border-box;
	padding: 100px 14px 0 23px;
}

.guide .label {
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-size: 40px;
	line-height: 1;
	color: #141414;
	text-transform: uppercase;
	width: 200px;
	height: 100px;
}

.guide .label::after {
	content: '';
	position: absolute;
	left: 192px;
	top: 78px;
	width: 31px;
	height: 31px;
	background: url(../images/icon-book.png) no-repeat 0 0;
}

.guide .content-wrapper .text {
	font-size: 20px;
	line-height: 22px;
	color: #141414;
	margin-top: 170px;
}

.guide .content-wrapper p {
	font-size: 16px;
	line-height: 22px;
	color: #979797;
	margin-top: 35px;
	margin-bottom: 40px;
}

.guide .content-wrapper .btns-large {
	position: relative;
	left: 0;
	bottom: 0;
	width: 380px;
}

.guide .content-wrapper .btns-large div {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	color: #979797;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 27px;
}

.benefit {
	background: #f8f8f8;
	box-sizing: border-box;
}

.benefit .label {
	font-size: 40px;
	line-height: 40px;
	padding-top: 85px;
	padding-left: 22px;
}

@media (min-width: 793px) {
	.connect .content-wrapper {
		border-left-width: 0;
		border-right-width: 0;
	}

	.connect article:nth-child(even) {
		margin-left: 30px;
	}

	.connect article:nth-child(2) {
		border: inset;
		margin-top: -24px;
	}

	.header {
		height: 900px;
	}

	.header .content-wrapper {
		padding: 70px 0 0;
		border-left-width: 14px;
		border-right-width: 14px;
	}

	.header h1 {
		padding-top: 175px;
	}

	.header p {
		padding-top: 60px;
	}

	.header .btn-header {
		bottom: 200px;
		left: 0;
	}

	.header .intro-video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		width: 100%;
		background-size: 1500px 1220px;
		background-position: -100px -320px;
	}

	.header .btns {
		display: block;
		position: absolute;
		top: 65px;
		right: 58px;
	}

	.header .btn.inverted {
		color: #fefefe;
	}

	.header .btn {
		width: 160px;
		background: none;
		color: #ffcd00;
	}

	.header .position {
		bottom: 184px;
	}
}

@media (min-width: 1167px) {
	.connect .content-wrapper {
		padding: 0;
	}

	.connect article {
		margin-left: 30px;
	}

	.connect article:nth-child(1),
	.connect article:nth-child(4) {
		margin-left: 0;
	}

	.connect article:nth-child(2) {
		margin-top: -52px;
	}

	.connect article:nth-child(5) {
		margin-top: -24px;
	}

	.connect article:nth-child(3) {
		margin-top: -24px;
	}
}
